@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

:root {
    --main-color : #21E1E1;
    --black: #13131a;
    --bg: #2D2424;
    --border: .1rem solid rgba(255, 255, 255, 0.5);
}

* {
    font-family: 'Playfair Display', serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

span {
    padding: 1rem;
}

/* style in header */

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    letter-spacing: 5px;
}

.header .logo img {
    height: 20rem;
}

.header .navbar a {
    margin: 0.1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}

/* end style in header */

/* style in main span*/

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/cover.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 5rem;
    text-transform: uppercase;
    color:#fff;
    padding-top: 20%;
}

.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color:#eee;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background:var(--bg);
    cursor: pointer;
   }
   
.btn:hover {
       letter-spacing: .2rem;
}

/* end style in main span*/

/* style in article about*/
.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.about .row {
    display: flex;
    align-items: center;
    background: var(--bg);
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    margin-top: 5rem;
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.9rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

.btn-about {
    margin-top: 5rem;
    display: inline-block;
    padding: .9rem 5rem;
    font-size: 1.8rem;
    color:var(--bg);
    background:#fff;
    cursor: pointer;
   }
   
.btn-about:hover {
       letter-spacing: .2rem;
}

/* end style in article about*/

/* style in article menu*/

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    margin-bottom: 20px;
}

.menu .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .harga {
    color: #fff;
    font-size: 2rem;
    padding: 5rem 0;
}

.menu .box-container .box:hover {
    background-color: #FEC260;
}

.menu .box-container .box > * {
    color: var(--bg);
}

.btn-box {
    margin-top: 5rem;
    display: inline-block;
    padding: .9rem 6rem;
    font-size: 1.8rem;
    background:#fff;
    cursor: pointer;
   }
   
.btn-box:hover {
       letter-spacing: .4rem;
}

/* end style in article menu*/

/* style in article products*/

.product .box-container-product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    margin-bottom: 20px;
}

.product .box-container-product .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.product .box-container-product  .box:hover {
    background-color: #FEC260;
}

.product .box-container-product .box .images-product {
    padding: 2.5rem 0;
}

.product .box-container-product .box .images-product img {
    height: 16rem;
}

.product .box-container-product .box .content h3 {
    color: #fff;
    font-size: 2.5rem;
}

.product .box-container-product .box .content .star {
    padding: 1.5rem;
}

.product .box-container-product .box .content .star i {
    font-size: 1.7rem;
    color: var(--main-color);
}

.product .box-container-product .box .content p {
    margin-top: 15%;
    font-size: 1.7rem;
    color: #fff;
}

.product .box-container-product .box .harga-produk {
    color: #fff;
    font-size: 2rem;
    padding: 5rem 0;
}

.inactive {
    display: none;
}

.dots {
    display: none;
}

.more {
    display: none;
}

.mybtn {
    cursor: pointer;
}

.mybtn:hover {
    color: var(--main-color);
}

.product .box-container-product .box .content p:hover {
    color: var(--bg);
}

/* end style in article products*/

/* style in article reviews*/

.review .box-container-review {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    margin-bottom: 20px;
}

.review .box-container-review .box-review {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container-review .box-review p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #fff;
    padding: 2rem 0;
}

.review .box-container-review .box-review cs {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container-review .box-review h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.review .box-container-review .box-review .star-review {
    font-size: 1.5rem;
    color: var(--main-color);
}

.review .box-container-review .box-review img {
    height: 5rem;
}

.review .box-container-review .box-review .cs {
    height: 20rem;

}

.review .box-container-review .box-review p:hover {
    color: var(--bg);
}

.review .box-container-review .box-review:hover {
    background-color: #FEC260;
}

/* end style in article reviews*/

/* style in article contact*/

.contact .row {
    display: flex;
    background: var(--bg);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .input-box {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contact .row form .input-box span {
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .input-box input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

.btn-contact {
    margin-top: 5rem;
    display: inline-block;
    padding: .9rem 6rem;
    font-size: 1.8rem;
    background:#fff;
    cursor: pointer;
   }
   
.btn-contact:hover {
       letter-spacing: .4rem;
}

/* end style in article contact*/

/* style in article aside*/

aside {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
}

.card {
    width: 300px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

h1{
    color: #fff;
    font-size: 2.5rem;
}
  
.title {
    color: #fff;
    font-size: 18px;
}
  
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: var(--bg);
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.icons-card {
    width: 30px;
    margin-top: 5px;
}

button:hover, a:hover {
    opacity: 0.7;
}

/* end style in article aside*/

/* style in footer*/

footer{
    background: var(--bg);
    border-top: var(--border);
}

.icons-ft{
    width: 30px;
    margin-top: 20px;
}

.url {
    color: #fff;
    font-size: 2rem;
    vertical-align: 9px;
}

.credit {
    border-top: var(--border);
    margin-top: 20px;
}

.credit p{
    text-align: center;
    color: #fff;
    font-size: large;
    margin: 20px;
}

/* end style in footer*/

/* media query for responsive*/
@media  (max-width:991px){

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    main {
        padding: 2rem;
    }
}

@media  (max-width:768px){

    #menu-btn {
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%; right: -100%;
        background-color: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }
}

@media  (max-width:540px){

    html {
        font-size: 50%;
    }
    .card{
        width: 110%;
    }
}

@media  (max-width:450px){

    html {
        font-size: 50%;
    }
    .card{
        width: 100%;
    }
}